<div class="content">
  <div class="row">
    <div class="col-lg-6 col-sm-6 text-center">
      <div class="card card-tasks text-left">
        <div class="card-header">
          <h6 class="title d-inline">Reportes(5)</h6>
          <p class="card-category d-inline">hoy</p>
          <div class="dropdown" dropdown>
            <button
              class="btn btn-link dropdown-toggle btn-icon dropdown-toggle"
              data-toggle="dropdown"
              dropdownToggle
              type="button"
            >
              <i class="tim-icons icon-settings-gear-63"> </i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#"> Imprimir </a>
              <a class="dropdown-item" href="#"> Actualizar </a>
              <a class="dropdown-item" href="#"> Reportar </a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-full-width table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                        />

                        <span class="form-check-sign">
                          <span class="check"> </span>
                        </span>
                      </label>
                    </div>
                  </td>
                  <td>
                    <p class="title">Documentación Actualizada</p>
                    <p class="text-muted">Dwuamish Head, Seattle, WA 8:47 AM</p>
                  </td>
                  <td class="td-actions text-right">
                    <button class="btn btn-link" type="button">
                      <i class="tim-icons icon-settings"> </i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input
                          checked=""
                          class="form-check-input"
                          type="checkbox"
                          value=""
                        />

                        <span class="form-check-sign">
                          <span class="check"> </span>
                        </span>
                      </label>
                    </div>
                  </td>
                  <td>
                    <p class="title">GDPR Acuerdo de Seguridad</p>
                    <p class="text-muted">
                      Alki Ave SW, Seattle, WA 98116, SUA 12:29 PM
                    </p>
                  </td>
                  <td class="td-actions text-right">
                    <button class="btn btn-link" type="button">
                      <i class="tim-icons icon-settings"> </i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                        />

                        <span class="form-check-sign">
                          <span class="check"> </span>
                        </span>
                      </label>
                    </div>
                  </td>
                  <td>
                    <p class="title">Exportación de archivos procesados</p>
                    <p class="text-muted">Capitol Hill, Seattle, WA 12:34 AM</p>
                  </td>
                  <td class="td-actions text-right">
                    <button class="btn btn-link" type="button">
                      <i class="tim-icons icon-settings"> </i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                        />

                        <span class="form-check-sign">
                          <span class="check"> </span>
                        </span>
                      </label>
                    </div>
                  </td>
                  <td>
                    <p class="title">Release v2.0.0</p>
                    <p class="text-muted">
                      Ra Ave SW, Seattle, WA 98116, SUA 11:19 AM
                    </p>
                  </td>
                  <td class="td-actions text-right">
                    <button class="btn btn-link" type="button">
                      <i class="tim-icons icon-settings"> </i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                        />

                        <span class="form-check-sign">
                          <span class="check"> </span>
                        </span>
                      </label>
                    </div>
                  </td>
                  <td>
                    <p class="title">Actividades de respuestas a incidentes</p>
                    <p class="text-muted">Caption Hill, LA 12:34 AM</p>
                  </td>
                  <td class="td-actions text-right">
                    <button class="btn btn-link" type="button">
                      <i class="tim-icons icon-settings"> </i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                        />

                        <span class="form-check-sign">
                          <span class="check"> </span>
                        </span>
                      </label>
                    </div>
                  </td>
                  <td>
                    <p class="title">Detalles de CVE y parches</p>
                    <p class="text-muted">Capitol Hill, Seattle, WA 12:34 AM</p>
                  </td>
                  <td class="td-actions text-right">
                    <button class="btn btn-link" type="button">
                      <i class="tim-icons icon-settings"> </i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div>
        <a class="btn btn-fill btn-danger" href="#/pages/user">
          Generar Reporte
        </a>
        <br /><br />
      </div>

      <div *ngIf="isLoading" class="loading-panel">
        <div class="loading-content">
          <img src="assets/img/loading.gif" alt="Loading..." />
        </div>
      </div>

      <div
        *ngIf="!isLoading && showIframe"
        style="
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        "
      >
        <iframe
          style="width: 100%; height: 80vh; border: none"
          src="assets/img/report.pdf"
        ></iframe>
      </div>
    </div>
    <div class="col-lg-6 col-sm-6">
      <div class="card card-timeline card-plain">
        <div class="card-body">
          <ul class="timeline timeline-simple">
            <li class="timeline-inverted">
              <div class="timeline-badge danger">
                <i class="tim-icons icon-bag-16"> </i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="badge badge-danger">
                    Descubriendo operaciones de espionaje
                  </span>
                </div>
                <div class="timeline-body">
                  <p>
                    Este análisis exhaustivo profundiza en las intrincadas
                    tácticas empleadas por un presunto actor de ciberespionaje
                    del nexo con China, UNC3886. El informe revela la
                    sofisticada explotación por parte del grupo de
                    vulnerabilidades de día cero y su implementación de rootkits
                    como REPTILE y MEDUSA para el acceso persistente al sistema.
                    Explora su uso de malware que aprovecha servicios confiables
                    de terceros.
                  </p>
                </div>
                <h6><i class="ti-time"> </i> 11 horas antes via Twitter</h6>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge success">
                <i class="tim-icons icon-gift-2"> </i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="badge badge-success">
                    Arid Viper APT Group implementa AridSpy
                  </span>
                </div>
                <div class="timeline-body">
                  <p>
                    Los investigadores de ESET han descubierto nuevas campañas
                    de espionaje de Arid Viper dirigidas a usuarios de Android
                    en Egipto y Palestina. Las campañas, varias de las cuales
                    están actualmente en curso, implican la distribución de
                    aplicaciones troyanizadas a través de sitios web dedicados
                    que se hacen pasar por aplicaciones de mensajería, una
                    aplicación de oportunidades laborales y una aplicación de
                    Registro Civil Palestino.
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge info">
                <i class="tim-icons icon-planet"> </i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="badge badge-info">
                    Hacker voluble distribuido a través de una cadena de ataques
                    múltiples
                  </span>
                </div>
                <div class="timeline-body">
                  <p>
                    En mayo de 2024, FortiGuard Labs observó un hacker basado en
                    Rust. Además de su intrincado código, el ladrón se
                    distribuye utilizando una variedad de estrategias y tiene
                    una forma flexible de elegir su objetivo.
                  </p>

                  <hr />
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
