<div class="content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header" style="margin-bottom: 20px"></div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-4 pr-md-1">
                <div class="form-group">
                  <label> Compañia </label>
                  <input
                    class="form-control"
                    disabled=""
                    type="text"
                    value="COTEDEM S.A."
                  />
                </div>
              </div>
              <div class="col-md-4 px-md-1">
                <div class="form-group">
                  <label> Nombre del Analista </label>
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="analistaNombre"
                    name="analistaNombre"
                    required
                  />
                </div>
              </div>
              <div class="col-md-4 pl-md-1">
                <div class="form-group">
                  <label> Email </label>
                  <input
                    class="form-control"
                    placeholder="nombre@email.com"
                    type="email"
                    [(ngModel)]="analistaEmail"
                    name="analistaEmail"
                    required
                    email
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-md-1">
                <div class="form-group">
                  <label> Fecha </label>
                  <input
                    class="form-control"
                    disabled=""
                    type="text"
                    value="{{ today | date : 'yyyy-MM-dd' }}"
                  />
                </div>
              </div>
              <div class="col-md-4 pr-md-1">
                <div class="form-group">
                  <label> Cargo </label>
                  <input
                    class="form-control"
                    type="text"
                    value=""
                    [(ngModel)]="analistaCargo"
                    name="analistaCargo"
                  />
                </div>
              </div>
              <div class="col-md-4 pl-md-1">
                <div class="form-group">
                  <label> Web </label>
                  <input class="form-control" type="text" value="" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-md-1">
                <div class="form-group">
                  <label> Número de Vulnerabilidades a generar </label>
                  <input
                    class="form-control"
                    type="number"
                    [(ngModel)]="numeroVulnerabilidades"
                    min="1"
                    max="10"
                    step="1"
                  />
                </div>
              </div>
              <div class="col-md-4 pr-md-1">
                <div class="form-group">
                  <label> Número de Amenazas a generar </label>
                  <input
                    class="form-control"
                    type="number"
                    [(ngModel)]="numeroAmenazas"
                    min="0"
                    max="10"
                    step="1"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button
            class="btn btn-fill btn-danger"
            type="submit"
            (click)="previsualizarInforme()"
            [disabled]="!analistaNombre || !analistaEmail"
          >
            Previsualizar Informe
          </button>
        </div>
        <div *ngIf="!isLoading && showIframe">
          <div
            class="card-footer"
            style="background-color: #e3e3e3; text-align: center; color: black"
          >
            <img src="assets/img/cotedem1.jpeg" width="40%" />
            <h4 style="color: black; padding-top: 20px">
              <strong>Informe de Inteligencia de Amenazas Cibernéticas</strong>
            </h4>
            <p style="text-align: justify; color: black">
              <strong>Analista: </strong> {{ analistaNombre }}
            </p>
            <p style="text-align: justify; color: black">
              <strong>Email: </strong> {{ analistaEmail }}
            </p>
            <p style="text-align: justify; color: black">
              Este informe proporciona una visión detallada de las amenazas
              cibernéticas detectadas y analizadas, de las cuales se destacan
              las amenazas más críticas, los patrones emergentes y las
              recomendaciones para la mitigación de los riesgos. Este análisis
              es fundamental para fortalecer la seguridad cibernética y
              progteger los activos de la organización.
            </p>

            <div class="container mt-12">
              <h4 style="color: black; padding-top: 20px">
                <strong>Vulnerabilidades mas activas</strong>
              </h4>
              <div class="col-md-12">
                <div class="chart-area">
                  <canvas #chart1></canvas>
                </div>
              </div>
              <div class="col-md-12">
                <h5 style="padding-top: 10px; color: black">
                  Informe del analista:
                </h5>
                <textarea
                  class="form-control"
                  placeholder="Ingrese sus recomendaciones"
                  style="color: black"
                  [(ngModel)]="txtRecomendacionesVulnerabilidades"
                  rows="4"
                ></textarea>
              </div>
            </div>

            <div class="container mt-12">
              <h4 style="color: black; padding-top: 20px">
                <strong>Amenazas mas activas</strong>
              </h4>
              <div class="col-md-12">
                <div class="chart-area">
                  <canvas #chart2></canvas>
                </div>
              </div>
              <div class="col-md-12">
                <h5 style="padding-top: 10px; color: black">
                  Informe del analista:
                </h5>
                <textarea
                  class="form-control"
                  placeholder="Ingrese sus recomendaciones"
                  style="color: black"
                  [(ngModel)]="txtRecomendacionesAmenazas"
                  rows="4"
                ></textarea>
              </div>
            </div>

            <div class="container mt-12">
              <h4 style="color: black; padding-top: 20px">
                <strong>Intrusiones identificadas</strong>
              </h4>
              <div class="col-md-12">
                <div class="chart-area">
                  <canvas #chart3></canvas>
                </div>
              </div>
              <div class="col-md-12">
                <h5 style="padding-top: 10px; color: black">
                  Informe del analista:
                </h5>
                <textarea
                  class="form-control"
                  placeholder="Ingrese sus recomendaciones"
                  style="color: black"
                  [(ngModel)]="txtRecomendacionesIntrusiones"
                  rows="4"
                ></textarea>
              </div>
            </div>

            <div class="container mt-12">
              <h4 style="color: black; padding-top: 20px">
                <strong>Ataques recibidos</strong>
              </h4>
              <div class="col-md-12">
                <div class="chart-area">
                  <canvas #chart4></canvas>
                </div>
              </div>
              <div class="col-md-12">
                <h5 style="padding-top: 10px; color: black">
                  Informe del analista:
                </h5>
                <textarea
                  class="form-control"
                  placeholder="Ingrese sus recomendaciones"
                  style="color: black"
                  [(ngModel)]="txtRecomendacionesAtaques"
                  rows="4"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <button
                    class="btn btn-fill btn-danger"
                    type="submit"
                    (click)="generarInforme()"
                  >
                    Generar Informe
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text"></p>
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <img alt="..." class="avatar" src="assets/img/cotedem1.jpeg" />

              <h5 class="title">COTEDEM</h5>
            </a>
            <p class="description">
              Consultores Tecnológicos y Desarrollo Empresarial
            </p>
          </div>
          <div class="card-description">
            Somos una empresa ecuatoriana que proporciona soluciones
            tecnológicas integrales. Nuestra pasión es la tecnología y nuestra
            meta: optimizar la competitividad de las empresas que confían en
            nosotros. En COTEDEM ofrecemos soluciones IT para el comercio,
            consultoría y otras áreas afines de negocio. Ponemos a su servicio
            una metodología sistemática y estandarizada de procesos y
            tecnologías de última generación.
          </div>
        </div>
        <div class="card-footer">
          <div class="button-container">
            <button
              class="btn btn-icon btn-round btn-facebook mr-1"
              href="javascript:void(0)"
            >
              <i class="fab fa-facebook"> </i>
            </button>
            <button
              class="btn btn-icon btn-round btn-twitter mr-1"
              href="javascript:void(0)"
            >
              <i class="fab fa-twitter"> </i>
            </button>
            <button
              class="btn btn-icon btn-round btn-google"
              href="javascript:void(0)"
            >
              <i class="fab fa-google-plus"> </i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isLoading" class="loading-panel">
  <div class="loading-content">
    <img src="assets/img/loading.gif" alt="Loading..." />
  </div>
</div>
