<div class="content">
  <h2 class="text-center">Análisis de los informes generados</h2>
  <p class="category text-center">
    A continuación se presenta unos gráficos como resultado del análisis de cada
    uno de los informes que han sido generados por la plataforma.
  </p>
  <div class="row mt-5">
    <div class="col-md-5 ml-auto">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Vulnerabilidades mas activas</h5>
          <h3 class="card-title">
            <i class="tim-icons icon-send text-info"> </i>
            {{ totalVulnerabilidades }}
          </h3>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="chartWithNumbersAndGrid"> </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 mr-auto">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Amenazas más activas (3 últimos meses)</h5>
          <h3 class="card-title">
            <i class="tim-icons icon-chart-bar-32 text-primary"> </i>
            {{ totalAmenazas }}
          </h3>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="chartSimpleWithGradient"> </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 ml-auto">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Intrusiones identificadas</h5>
          <h3 class="card-title">
            <i class="tim-icons icon-shape-star text-danger"> </i>
            {{ totalIntrusiones }}
          </h3>
        </div>
        <div class="card-body">
          <div class="chart-area"><canvas id="BarChart"> </canvas></div>
        </div>
      </div>
    </div>
    <div class="col-md-5 mr-auto">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Ataques recibidos</h5>
          <h3 class="card-title">
            <i class="tim-icons icon-warning text-warning"> </i>
            {{ totalAtaques }}
          </h3>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="MultipleBarsChart"> </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isLoading" class="loading-panel">
  <div class="loading-content">
    <img src="assets/img/loading.gif" alt="Loading..." />
  </div>
</div>
